# dependencies
node_modules

# environment variables
.env
.env.local
.env.development
.env.production

# next build
.next
out

# logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store

# vercel
.vercel

# typescript
*.tsbuildinfo

# uploads
uploads
public/uploads

# database
*.sqlite
*.db

# secrets
config/secrets.js